 <form action= "/note/<%=@note.id%>/edit" method= "post">
  <input type="hidden" name="_method" value="put">


  <p> Update Note
    <input type = "text" name="description" value"<%=@note.description%>"></p>
  <input type = "submit" value="update">