
  <div class="container">
    <h1>Log in to Family Fridge</h1>

    <form action="/" method="post" >

      <p>Enter name</p>    <input type ="text"     name = "user_name"      placeholder  = "User Name">
      <p>Enter Password</p> <input type ="password" name = "password_hash"  placeholder  = "Password">

      <input type="submit">
    </form>

    <h3><a href="/register">Register</a></h3>
  </div>

