<div class="container">

<table>
  <tr>
    <ul>
    <% @note.each do |note| %>
      <h1><%= note.title %></h1>
      <li><%= note.description %></li>

      <%end%>
    </ul>
  </tr>
</table>
</div>


<div class="container">

<table>
  <tr>
  <form action= "/fridge/notes" method= "post">
    <p> Title
    <input type = "text" name="title"></p>
    <p> Description
    <input type = "text" name="description"></p>
    <input type = "submit" value="Create New Note">

  </tr>
</table>
</div>