
 <div class="container">
    <h1>Register</h1>
    <form action="/register" method="post" >
      <p>Enter name  </p>
      <input type ="text"   size='25' name = "user[user_name]"  placeholder = "User Name">

      <p>Enter Password</p>

      <input type ="password" size='25' name = "user[password_hash]" placeholder = "Password">
      <input type="submit">
    </form>

  </div>
