
<div class="container">
<table>
  <tr>
    <ul>
      <% @find_views_of_note= @views.where(note_id: <%@note.id%>)%>
      <% @find_view_of_note.each do |name| %>

      <li><%= name.user_name %></li>


      <%end%>
    </ul>
  </tr>
</table>
</div>

